.web-7{
    display: grid;
    grid-template-rows: auto auto auto;
    // align-items: center;
    padding: 50px 80px 50px 0;
    .web-7__nav{
        display: flex;
        justify-content: space-between;
    }
    .web-7__item {
        text-align: center;
        margin-top: 250px;
        h1{
            font-size: 60px;
        }
    }
    .web-7__content{
        display: flex;
        justify-content: space-around;
        background: #d1d1d1;
        height: max-content;
        margin-top: 250px;
    }
}