.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__navigation_block{
        width: 400px;
        .header__nav-items{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .header-items__secarch-block{
        button{
            position: relative;
            padding: 10px 50px;
            background-color: white;
            border-radius: 50px;
            i{
                position: absolute;
                top: 6px;
                left: 15px;
                font-size: 20px;
            }
        }
    }
}

.main-section{
    padding:20px 50px 0 50px;
    .main-section__items{
        .main-section__title-img{
            height: 260px;
        }
        .main-section__title{
            width: 950px;
            margin: 0 auto;
            font-size: 35px;
            letter-spacing: 2px;
            h1{
                font-weight: normal;
            }
        }
        .main-section__text{
            position: relative;
            text-align: right;
            height: 350px;
            .main-section-text__title{
                position: absolute;
                top: 100px;
                right: 100px;
                width: 600px;
                font-size: 30px;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2,p{
                    margin: 0;
                }
            }
        }
    }
}