.soBody {
    background-color: #262626;
    padding-left: 80px;
    padding-top: 80px;
    font-family: serif;
    overflow: hidden;
    color: white;
    .divEZ {
      width: 333px;
      height: 498px;
      background: url(../../img/ZELA/Rectangle\ 244.png) no-repeat;
      background-size: contain;
      margin-left: 40px;
      .soBig {
        font-size: 300px;
        position: absolute;
      }
      .E {
        left: 410px;
        top: -330px;
      }
      .Z {
          margin-left: -50px;
          top: -150px;
      }
      .flyBeard {
          position: absolute;
          left: 800px;
          top: 250px;
      }
      .L {
          position: absolute;
          left: 1490px;
      }
    }
    .info-Martin {
      font-family: sans-serif;
      margin-top: -125px;
    }
  }
  .Radius-click {
      border-radius: 50%;
      border: 1px solid white;
      width: 100px;
      height: 100px;
      margin-left: 1100px;
      p {
          font-size: 14px;
          text-align: center;
          margin-top: 34px;
      }
  }
  .bottom-soBig {
      display: flex;
      img {
  
      }
      p {
          font-size: 300px;
          margin: 0;
          position: absolute;
          left: 700px;
          top: 500px;
      }
  }