.web_17{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    .web_17-p{
        color: #ff0000;
    }
}
.web_17-img{
    display: flex;
    justify-content: end;
    margin: 50px 0 50px ;
    .web_17-img-1{
        position: relative;
        left: 200px;
    }
    .web_17-img-2{
        position: relative;
        left: 100px;
    }
    .web_17-img-3{
       z-index: 1;
    }
}
.web_17-item{
    width: 600px;
    margin-left: 150px;
    h1{
        font-size: 100px;
        margin-bottom: 0;
    }   
    p{
        font-size: 40px;
        margin-top: 0;
    }
}