doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_02
    body
        header 
            div.header
                div 
                    img(src="../../imges/web_02-img/Group 3.png", alt="")
                div.header__btn 
                    button Menu
        main 
            div.main 
                div.main__items 
                    p Great products don’t try to do everything. 
                    p We are minimalists, and we do a few things, very well.
                    button Tech Support 
                        img(src="../../imges/web_02-img/clarity_settings-line.png", alt="")
                div.main-img 
                    img.main__img-1(src="../../imges/web_02-img/Group 4 (1).png", alt="")
                    img.main__img-2(src="../../imges/web_02-img/Rectangle 1.png", alt="")
        footer 
            div.footer 
                p Scroll down
                    img(src="../../imges/web_02-img/bi_chevron-down.png", alt="")
                img(src="../../imges/web_02-img/Line 1.png", alt="")

