doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_17
    body
        header 
            div.web_17
                p.web_17-p WORKS
                p INFO & CONTACT