doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_17
    body
        header 
            div.web_17
                p.web_17-p WORKS
                p INFO & CONTACT
        main 
            div.web_17-img 
                img.web_17-img-1(src="../../imges/web_17-img/Ellipse 113.png", alt="")
                img.web_17-img-2(src="../../imges/web_17-img/Ellipse 114.png", alt="")
                img.web_17-img-3(src="../../imges/web_17-img/Ellipse 115.png", alt="")