doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_09
    body 
        header 
            div.menu 
                p Menu
        main 
            div.imges 
                img(src="../../imges/web_09-img/Frame 970.png", alt="")
            div.Scroll
                p Scroll
                img(src="../../imges/web_09-img/superwoman 1.png", alt="")