doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_07
    body.bdy 
        header 
            div.web-5 
                div 
                    img(src="../../imges/web_07-img/Rectangle 232.png", alt="")
                div.web-7
                    div.web-7__nav
                        p SHOP
                        p ABOUT
                        p INNOVATION
                        p LOGIN
                        p CART
                    div.web-7__item 
                        h1 ANTI DESIGN
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero in mauris est condimentum suscipit. Viverra tincidunt amet aliquet massa rhoncus egestas eget id turpis. Augue nunc. 
                    div.web-7__content 
                        p This website uses cookies. Learn more.
                        p ACCEPT
