doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_15
    body.bdy 
        header
            div.katy 
                div 
                    b KATY BIKOVICHE
                    div.katy__item
                        p PRODUCT DESIGNER, DIRECTOR 
                        b @ THESHITHOLE 
                div 
                    img(src="../../imges/web_15-img/Frame 990.png", alt="")
        footer.ftr
            img.ftr-img(src="../../imges/web_15-img/Frame 991.png", alt="")