doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_02
    body.bdy 
        div.flex 
            div 
                img(src="../../imges/web_04-img/Vector (2).png", alt="")
            div.flex__text 
                h1 Don’t miss it
                p We will email you one delicious recipe everyday for you to try at home. They are simple and delicious: we encourage you to try! 
                input(type="text" placeholder="Your email here")
                button Subscribe