doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_08
    body.bg-img  
        nav 
            div.navbar-web-8 
                img(src="../../imges/web_08-img/CAR LOGO.png", alt="")
                div.navbar-web-8__paragraf  
                    p MODLE A
                    p MODLE B
                    p MODLE C
                    p MODLE D
                    p MODLE E
                img(src="../../imges/web_08-img/menu (1).png", alt="")
        main 
            div.web-8-main
                p MODLE  A
            div.web-8-main-second 
                button Discover
                p Reserve now


