doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=#, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title Document
    body.soBody 
        div.divEZ
            p.E.soBig E
            p.Z.soBig Z
            img.flyBeard(src="../../imges/web_13-img/Rectangle 245.png", alt="")
            p.L.soBig L
        p.info-Martin 
        | Marvin Dokojvic
        br 
        | Photography portfolio
        // Div rad
        div.Radius-click
            p CLICK HERE and HOLD
        div.bottom-soBig     
            img(src="../../imges/web_13-img/Rectangle 246.png", alt="")
            p.sobigA A