doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_02
    body
        header 
            div 
                img(src="../../imges/web_02-img/Group 3.png", alt="")
            div 
                button Menu
