doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI KIT web_03
        link(rel="stylesheet", href="../../sass/main.css")
    body.contaner 
        header
            div.header__items
                div.header-items__img-item
                    img(src="../../imges/web_03-img/Group 1.png", alt="")
                div.header-items__menu-items
                    ul 
                        li
                            a(href="") CN
                        li 
                            a(href="") EN
                    div.menu-items__all-lines
                        div.norm-line
                        div.long-line
                        div.short-line
        
        main
            section.main-section
                div.main-section__card-items
                    div.card-items__title
                        div.title__text-block
                            h2 One nightowl is coding really hard
                            h1 COMING SOON
                        div.title__all-btn-block
                            button Get Notified
                            button Send
                    div.card-items__image-card
                        img(src="../../imges/web_03-img/Group 2.png", alt="")