doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css")
        title Document
    body 
        header
            div.header-items
                div.header__navigation_block
                    div.header__nav-items
                        p viait
                        p exhibition
                        p collection
                        p programs
                div.header-items__secarch-block
                    button search something...
                        i.bi.bi-search

        main 
            section.main-section
                div.container.main-section__items
                    div.main-section__title-img
                        img(src="../../imges/web_06-img/Mask Group.png", alt="")
                    div.main-section__title
                        h1 ART IN ITS BEST FORM...
                    div.main-section__text
                        img(src="../../imges/web_06-img/Mask Group (1).png", alt="")
                        div.main-section-text__title
                            div
                                h2 COVID - 19 Response:
                                p Stay at home with SAM
                            div 
                                i.bi.bi-arrow-right
                    div.main-section__img-block
                        img(src="../../imges/web_06-img/Mask Group (2).png", alt="")