doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_05
    body.bdy 
        main.web-5
            div
                img(src="../../imges/web_05-img/Rectangle 1 (1).png", alt="")
            div.web-5__item 
                div 
                    h1 Trinity 43rd Avenue LLC
                div.web-5__item-item 
                    h1 Thanks, John!
                    p Here is your receipt for your rent payment for the month of July. Below are the details. 
                    div.web-5__item-item-grid 
                        b Date
                        p June 30, 2020
                        b Total Payment
                        p.p-green $1200 USD
                div.web-5__item-p 
                    p Questions? Contact us at (206) 121-456 or email us at trinityapartment@43st.com 
