doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../sass/main.css")
        title UI KIT web_11
    body.body-bg
        header
            div.web-11__nav 
                p Home
                p Artwork
            div.web-12__img 
                img(src="../../imges/web_11-img/Rectangle 234.png", alt="")
                img(src="../../imges/web_12-img/Rectangle 235 (1).png", alt="")
                img(src="../../imges/web_11-img/Rectangle 236.png", alt="")
                img(src="../../imges/web_11-img/Rectangle 237.png", alt="")
                img(src="../../imges/web_11-img/Rectangle 238 (1).png", alt="")
            div.web-12
                p Convoluted colorfulness
                p.web-12-item Lined up behind the space bartender is the meaning of it all, the vessels marked with letters, numbers, signs...
                p.web-12-item-1 explore
            div.web-11__img-item
                img(src="../../imges/web_11-img/Line 104.png", alt="")
                img(src="../../imges/web_11-img/Line 103.png", alt="")
                p 10%